/* page layout */
.wrapper{
	width: 95%;
	margin: 0 auto;
}
.header{
	float: left;
	width: 100%;
}
.wrapleft{
	float: left;
	width: 100%;
}
.left, #sortorderwrapper {
	margin-right: 450px;
}

.right{
	color: #777;
	float: right;
	text-align: center;
	width: 440px;
	margin-left: -440px;
}
.footer{
	clear: both;
	color: #777;
	float: left;
	font-size: 11px;
	margin-top: 15px;
	text-align: center;
	width: 100%;
}
a {
	text-decoration: none;
}

body{
	padding: 0px;
	margin: 0px;
}

/* prettification */
iframe{
	border:none;
}

h2 {
	font-size: 20px;
	padding: 0px 0px 10px 10px;
	display: block;
	border-bottom: 1px solid #e4e4e4;
	color: #777;
	margin-right: 10%;
}
.right h2 {
	text-align: left;
}

.left input, .left textarea {
	border: solid 1px #dadada;
	color: #777;
	height: 30px;
	margin: 2px 6px 16px 0px;
	outline: 0 none;
	width: 70%;
	font-size: 12px;
	line-height: 15px;
	padding-left: 5px;
}

.left input.warning:hover, .left textarea.warning:hover,
.left input.warning:focus, .left textarea.warning:focus {
	border-color: #ffdc00;
}

.left input.error:hover, .left textarea.error:hover,
.left input.error:focus, .left textarea.error:focus {
	border-color: red;
}

.left input[disabled] {
	opacity: 0.6;
}

.left textarea {
	height: 120px;
	padding-top: 5px;
	resize: vertical;
}

.left #protip {
	color: #777;
	font-size: 11px;
	display: block;
	margin-left: 20%;
	margin-top: -15px;
	margin-bottom: 10px;
}

.tooltip {
	border: 2px solid #aaa;
	box-shadow: 0 0 5px #aaa;
	padding: 8px;
	position: absolute;
	z-index: 9999;
}

.tooltip ul {
	margin-top: 0;
	margin-bottom: 0;
}

.left label {
	display: block;
	margin: 0;
}

.left label>span:first-child {
	color: #777;
	float: left;
	margin-top: 12px;
	padding-right: 10px;
	text-align: right;
	width: 15%;
}

.left span {
	display: block;
	font-size: 13px;
}

#sortorderfloat {
	display: block;
	text-align: center;
}

#download, #upload {
	margin-top: 10px;
}

#upload, #formupload {
	display: none;
}

.status {
	border-width: 5px;
	border-style: solid;
	margin: 10px 0;
	padding: 10px 30px;
	position: relative;
}

.status.default, .status.empty {
	border-color: grey;
	border-color: rgba(128, 128, 128, 0.3);
}

.status.valid {
	border-color: green;
	border-color: rgba(0, 125, 0, 0.3);
}

.status.warning {
	border-color: #ffdc00;
	border-color: rgba(255, 220, 0, 0.3);
}

.status.error {
	border-color: red;
	border-color: rgba(255, 0, 0, 0.3);
}

.status.empty:before {
	content: "your decklist seems to be empty; try adding some cards?";
	font-size: 12px;
	font-style: italic;
	position: absolute;
		top: 4px;
		left: 0;
		right: 0;
}

.statusmark {
	font-family: Arial, serif;
	font-size: 60px;
	font-weight: bold;
	height: 80px;
	margin: 5px;
	text-shadow: grey 0 0 3px;
}

.default .statusmark:before, .empty .statusmark:before {
	color: grey;
	content: "?";
}

.valid .statusmark:before {
	color: green;
	content: "\2714"; /* heavy checkmark */
}

.warning .statusmark:before {
	color: #ffdc00;
	content: "?";
}

.error .statusmark:before {
	color: red;
	content: "\2716"; /* heavy multiplication x */
}

.status .details {
	list-style-type: circle;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

.details > li {
	transition: color 0.15s;
}

.details > li:hover {
	color: inherit;
}

.details label {
	cursor: pointer;
}

.details .warning {
	color: orange;
}

.details .error {
	color: firebrick;
}
