/* page layout */
.wrapper{
	width: 95%;
	margin: 0 auto;
}
.header{
	float: left;
	width: 100%;
}
.wrapleft{
	float: left;
	width: 100%;
}
.left, #sortorderwrapper {
	margin-right: 450px;
}

.right{
	color: #777;
	float: right;
	text-align: center;
	width: 440px;
	margin-left: -440px;
}
.footer{
	clear: both;
	color: #777;
	float: left;
	font-size: 11px;
	margin-top: 15px;
	text-align: center;
	width: 100%;
}
a {
	text-decoration: none;
}

body{
	padding: 0px;
	margin: 0px;
}

/* prettification */
iframe{
	border:none;
}

h2 {
	font-size: 20px;
	padding: 0px 0px 10px 10px;
	display: block;
	border-bottom: 1px solid #e4e4e4;
	color: #777;
	margin-right: 10%;
}
.right h2 {
	text-align: left;
}

.left input, .left textarea {
	border: solid 1px #dadada;
	color: #777;
	height: 30px;
	margin: 2px 6px 16px 0px;
	outline: 0 none;
	width: 70%;
	font-size: 12px;
	line-height: 15px;
	padding-left: 5px;
}

.left input[disabled] {
	opacity: 0.6;
}

.left textarea {
	height: 120px;
	padding-top: 5px;
	resize: vertical;
}

.left #protip {
	color: #777;
	font-size: 11px;
	display: block;
	margin-left: 20%;
	margin-top: -15px;
	margin-bottom: 10px;
}

.left label {
	display: block;
	margin: 0;
}

.left label>span:first-child {
	color: #777;
	float: left;
	margin-top: 12px;
	padding-right: 10px;
	text-align: right;
	width: 15%;
}

.left span {
	display: block;
	font-size: 13px;
}

#download, #upload {
	margin-top: 10px;
}

#upload, #formupload {
	display: none;
}

#sortorderfloat {
	display: block;
	text-align: center;
}

#deckliststatuses {
	text-align: left;
	display: none;
}

.deckliststatus {
	vertical-align: bottom;
	display: none;
}

.deckliststatus img {
	height: 20px;
	margin-right: .3em;
	vertical-align: text-bottom;
	width: 20px;
}
